$red: #dc0a2d;
$darkRed: #89061c;
$grey: #dedede;
$borderRadius: 20px;
$screenColor: #232323;
$topHeight: 177px;
$pokedexWidth: 550px;
$pokedexHeight: 800px;
$borderWidth: 2px;
$leftScreenHeight: 270px;
$leftScreenWidth: 320px;
$rightScreenHeight: 160px;
$rightScreenWidth: 380px;
$lidTopHeight: 75px;

.pokedex {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: end;

    &__left,
    &__right {
        position: relative;
    }
}

.red-frame,
.lid {
    background: $red;
    border: $borderWidth solid black;
}

.red-frame {
    border-radius: $borderRadius;
    width: $pokedexWidth;
    height: $pokedexHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &::after {
        position: absolute;
        content: "";
        background: $darkRed;
        bottom: -20px;
        left: 0;
        right: 0;
        height: 40px;
        z-index: -1;
        border: $borderWidth solid black;
        border-radius: 0 0 $borderRadius $borderRadius;
    }
}

.lid-wrapper {
    position: relative;
    width: calc($pokedexWidth - 50px);
    height: calc($pokedexHeight - 95px);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.lid {
    width: 100%;
    height: calc($pokedexHeight - 150px);
    border-radius: 0 $borderRadius $borderRadius 0;
}

@mixin whiteFrameCurve() {
    clip-path: shape(
        from 0% 0%,
        hline to 100%,
        vline to 100%,
        hline to 10%,
        line to 0% 90%,
        vline to 0%,
        close
    );
}

.white-frame-wrapper {
    position: relative;
    width: 400px;
    height: 370px;
}

.white-frame,
.white-frame-shadow {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.white-frame {
    position: absolute;
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $borderWidth solid black;
    border-radius: 8px;
    @include whiteFrameCurve();
    z-index: 1;
}

.white-frame-shadow {
    top: 2px;
    position: absolute;
    background-color: black;
    @include whiteFrameCurve();
    z-index: 0;
}

.screen {
    background: $screenColor;
    overflow: scroll;
    border-radius: 8px;
    
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    
    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
    
    &--left {
        height: $leftScreenHeight;
        width: $leftScreenWidth;
    }

    &--right {
        height: $rightScreenHeight;
        width: $rightScreenWidth;
    }
}

.display-wrapper {
    display: flex;
    height: 100%;
    align-items: center;

    &__right {
        width: 50px;
    }
    
    &__left {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: $borderWidth solid black;
        border-radius: $borderRadius;
        outline-offset: -15px;
    }
}

@mixin cameraWrapperCurve($heightLeft, $heightRight, $leftOffset: $borderWidth, $rightOffset: $borderWidth) {
    clip-path: shape(
        from calc(0% + $leftOffset) 0,
        hline to calc(100% - $rightOffset),
        vline to calc($heightRight),
        hline to 65%,
        smooth to 63% calc($heightRight + 3px), 
        line to 47% calc($heightLeft - 3px),
        smooth to 45% calc($heightLeft),
        hline to calc(0% + $leftOffset),
        close
    );
}

.camera-wrapper {
    position: absolute;
    height: $topHeight;
    width: 100%;
    left: 0;
    background: transparent;
    border-radius: $borderRadius $borderRadius 0 0;

    &__top-portion,
    &__border-top-curve,
    &__shadow,
    &__border-bottom-curve,
    &__outline-outside-layer,
    &__outline-inside-layer {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: $borderRadius $borderRadius 0 0;
    }

    &__border-top-curve,
    &__border-bottom-curve,
    &__outline-inside-layer {
        background-color: black;
    }

    &__top-portion,
    &__outline-outside-layer {
        background-color: $red;
    }

    &__top-portion {
        z-index: 5;
        background: $red;
        @include cameraWrapperCurve(138px, 73px);
    }

    &__border-top-curve {
        @include cameraWrapperCurve(140px, 75px);
        z-index: 4;
    }
    
    &__shadow {
        background-color: $darkRed;
        @include cameraWrapperCurve(158px, 93px);
        z-index: 3;
    }
    

    &__border-bottom-curve {
        @include cameraWrapperCurve(160px, 95px);
        z-index: 2;
    }
    
    &__outline-outside-layer {
        @include cameraWrapperCurve(175px, 110px);
        z-index: 1;

    }

    &__outline-inside-layer {
        @include cameraWrapperCurve(177px, 112px, 17px, 65px);
        z-index: 0;
    }

}

.camera {
    width: 85px;
    height: 85px;
    position: absolute;
    z-index: 6;
    left: 50px;
    top: 25px;

    &__frame,
    &__lenz,
    &__shade,
    &__regular-color,
    &__light {
        position: absolute;
        border-radius: 100%;
    }


    &__frame {
        width: 100%;
        height: 100%;
        background-color: $grey;
        border: $borderWidth solid black;
    }

    &__lenz {
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -53%);
        background: #28abfc;
        border: $borderWidth solid black;
        overflow: hidden;
    }

    &__shade {
        width: 95%;
        height: 95%;
        background: #19699e;
        top: 7%;
        left: 7%;
    }

    &__regular-color {
        width: 50%;
        height: 50%;
        top: 11%;
        left: 11%;
        background: #28abfc;
    }

    &__light {
        width: 20%;
        height: 20%;
        background: #9fdbff;
        top: 20%;
        left: 20%;
    }
}

.lights {
    width: 120px;
    position: absolute;
    z-index: 6;
    left: 145px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.light {
    width: 24px;
    height: 24px;
    border: black $borderWidth solid;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    background: #519d5f;

    &--red {   
        background: #ea1b3f;
    }
    
    &--yellow {   
        background: #ecd74f;
    }
    
    &--green {
        background: #519d5f;
    }

    &__shade,
    &__regular-color,
    &__light {
        border-radius: 100%;
        position: absolute;
    }

    &__shade {
        width: 95%;
        height: 95%;
        transform: translate(5%, 5%);
        
        &--red {   
            background: #a0011b;
        }
        
        &--yellow {   
            background: #a08908;
        }
        
        &--green {
            background: #2f6b3e;
        }
    }

    &__regular-color {
        width: 75%;
        height: 75%;
        left: 5%;
        top: 5%;
        
        &--red {   
            background: #ea1b3f;
        }
        
        &--yellow {   
            background: #ecd74f;
        }
        
        &--green {
            background: #519d5f;
        }
    }

    &__light {
        width: 35%;
        height: 35%;
        top: 15%;
        left: 15%;
        
        &--red {   
            background: #ffabbc;
        }
        
        &--yellow {   
            background: #fff996;
        }
        
        &--green {
            background: #b9ecbf;
        }
    }
}

@mixin lidTopCurve($ox, $oy, $my, $x, $y) {
    clip-path: shape(
        from $ox $oy,
        hline to 35%,
        smooth to 37% calc($oy + 3px),
        line to 53% calc($my - 3px),
        smooth to 55% calc($my),
        hline to $x,
        vline to $y,
        hline to $ox,
        close
    );
}

.lid-top {
    position: absolute;
    width: 100%;
    height: $lidTopHeight;
    top: 0;
    left: 0;

    &__layer {
        position: absolute;
        height: 100%;
        width: 100%;

        &--1 {
            background: black;
            @include lidTopCurve(0px, 0px, 55px, 100%, 98%);
            z-index: 1;
        }

        &--2 {
            background: $red;
            @include lidTopCurve(2px, 2px, 57px, calc(100% - 2px), 99%);
            z-index: 1;
        }

        &--3 {
            background: black;
            @include lidTopCurve(15px, 15px, 70px, calc(100% - 15px), 99%);
            z-index: 1;
        }

        &--4 {
            background: $red;
            @include lidTopCurve(17px, 17px, 72px, calc(100% - 17px), 100%);
            z-index: 1;
        }
    }
}

.right-side-divisions {
    width: 100%;
    height: calc(100% - $lidTopHeight);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &__bottom {
        width: $rightScreenWidth;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.blue-buttons-grid-wrapper {
    height: 80px;
    position: relative;
    
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translateY(4px);
        background: #00285a;
        border-radius: 6px;
        border: 2px solid black;
    }
}


.blue-buttons-grid {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(6, auto);
    grid-gap: 2px;
    background: #00285a;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;

    &__button {
        background: #28aafe;
        justify-items: stretch;
        align-items: stretch;
    }

}

// ----- Moana -----

.pokedex {
    zoom: 40%;
}

.screen--left {
    background-image: url("../../../public/images/sea.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.button-prev-next {
    position: absolute;
    display: flex;
    gap: 2em;
    bottom: 13%;
    left: 25%;
}

.button-prev-next button {
    width: 110px;
    padding: 5px;
    color: #F8F8F8;
    font-size: 2em;
    border-color: #2F2F2F;
    background-color: #3B4CCA;
}

.red-frame {
    position: relative;
}

.screen--right {
    color: #F8F8F8;
    padding: 5px 20px;
}

.screen--right p {
    margin: 0;
}

.screen-attributes {
    display: flex;
    gap: 16px;
    font-size: 26px;
    font-weight: 100;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.screen-attributes-1, .screen-attributes-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pokemon-attribute {
    text-transform: capitalize;
}
