// ----- Reset css ----- //

*,
*::before,
*::after {
    box-sizing: border-box;
}

// ----- Shortcuts ----- //

$borderRadius: 20px;
$borderWidth: 2px;
$darkGreen: #002e2a;
$darkPurple: #070508;
$darkRed: #89061c;
$grey: #dedede;
$blue: #0b5f89;
$lidTopHeight: 75px;
$pokedexHeight: 435px;
$pokedexWidth: 300px;
$red: #dc0a2d;
$green: #52ae5f;
$screenColor: #232323;

// ----- Styles ----- //

.pokedex {
    position: relative;
    z-index: 1;
    grid-column: 2;
    display: flex;
        align-items: end;

    &__left,
    &__right {
        position: relative;
    }

    @media only screen and (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.red-frame {
    position: relative;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
    height: $pokedexHeight;
    width: $pokedexWidth;
    background: $red;
    border: $borderWidth solid black;
    border-radius: $borderRadius;
    
    &::after {
        content: "";
        position: absolute;
            bottom: -10px; // Diferente
            left: 0;
            right: 0;
        z-index: -1;
        height: 40px;
        background: $darkRed;
        border: $borderWidth solid black;
        border-radius: 0 0 $borderRadius $borderRadius;
        
        @media only screen and (min-width: 768px) {
            bottom: -20px;
        } 
    }
}

@mixin cameraWrapperCurve($xOrigin, $yOrigin, $xBottomRight, $yTopRight, $xTopMiddle, $xBottomMiddle, $yBottomMiddle, ) {
    clip-path: shape(
        from $xOrigin $yOrigin,
        hline to $xBottomRight,
        vline to $yTopRight,
        hline to $xTopMiddle,
        line to $xBottomMiddle $yBottomMiddle,
        hline to $xOrigin,
        close
    );
}

.camera-wrapper { 
    position: absolute;
    height: 27%;
    width: 100%;
    // left: 0;
    // background: transparent;
    // border-radius: $borderRadius $borderRadius 0 0;

    &__top-portion,
    &__border-top-curve,
    &__shadow,
    &__border-bottom-curve,
    &__outline-outside-layer,
    &__outline-inside-layer {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: $borderRadius $borderRadius 0 0;
    }

    &__border-top-curve,
    &__border-bottom-curve,
    &__outline-inside-layer {
        background-color: black;
    }

    &__top-portion,
    &__outline-outside-layer {
        background-color: $red;
    }

    &__top-portion {
        z-index: 5;
        background: $red;
        @include cameraWrapperCurve(0%, 0%, 100%, 40%, 65%, 45%, 65%);
    }

    &__border-top-curve {
        z-index: 4;
        @include cameraWrapperCurve(0%, 0%, 100%, 41%, 65%, 45%, 66%);
    }
    
    &__shadow {
        z-index: 3;
        background-color: $darkRed;
        @include cameraWrapperCurve(0%, 0%, 100%, 65%, 65%, 45%, 88%);
    }

    &__border-bottom-curve {
        z-index: 2;
        @include cameraWrapperCurve(0%, 0%, 100%, 66%, 65%, 45%, 89%);
    }
    
    &__outline-outside-layer {
        z-index: 1;
        clip-path: shape(
            from 5% 100%, 
            hline to 95%, 
            vline to 70.5%, 
            hline to 65%, 
            line to 45% 93.5%, 
            hline to 5%, 
            close
        );
    }

    &__outline-inside-layer {
        z-index: 0;
        clip-path: shape(
            from 4.3% 100%, 
            line to 20% 95%, 
            hline to 90%,
            line to 95% 100%,
            hline to 95.7%, 
            vline to 69%, 
            hline to 65%, 
            line to 45% 92%, 
            hline to 4.3%, 
            close
        );
    }

}

.camera {
    position: absolute;
        left: 20px;
        top: 20px;
    height: 35px;
    width: 35px;
    z-index: 6;

    &__frame,
    &__lenz,
    &__shade,
    &__regular-color,
    &__light {
        position: absolute;
        border-radius: 100%;
    }

    &__frame {
        width: 100%;
        height: 100%;
        background-color: $grey;
        border: 1px solid black;
    }

    &__lenz {
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -53%);
        background: #28abfc;
        border: 1px solid black;
        overflow: hidden;
    }

    &__shade {
        width: 95%;
        height: 95%;
        background: #19699e;
        top: 7%;
        left: 7%;
        animation: blink 800ms infinite;
    }

    &__regular-color {
        width: 50%;
        height: 50%;
        top: 11%;
        left: 11%;
        background: #28abfc;
    }

    &__light {
        width: 20%;
        height: 20%;
        background: #9fdbff;
        top: 20%;
        left: 20%;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
            background-color: #b2d9f0; 
        }
        100% {
            opacity: 1;
        }
    }
}

.lights {
    position: absolute;
        left: 70px;
        top: 18px;
    z-index: 6;
    display: flex;
        align-items: center;
        justify-content: space-between;
    width: 80px;
}

.light {
    width: 15px;
    height: 15px;
    border: black 1px solid;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    background: #519d5f;
    

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    &--red {   
        background: #ea1b3f;
    }
    
    &--yellow {   
        display: none;
    }
    
    &--green {
        background: #519d5f;
    }

    &__shade,
    &__regular-color,
    &__light {
        position: absolute;
        border-radius: 100%;
    }

    &__shade {
        width: 95%;
        height: 95%;
        transform: translate(5%, 5%);
        animation: blink 1500ms infinite;
        
        &--red {   
            background: #a0011b;
        }
        
        &--green {
            background: #2f6b3e;
        }
    }

    &__regular-color {
        width: 75%;
        height: 75%;
        left: 5%;
        top: 5%;
        
        &--red {   
            background: #ea1b3f;
        }
        
        &--green {
            background: #519d5f;
        }
    }

    &__light {
        width: 35%;
        height: 35%;
        top: 15%;
        left: 15%;
        
        &--red {   
            background: #ffabbc;
        }
        
        &--green {
            background: #b9ecbf;
        }
    }
}

.display-wrapper { // Pokédex mainframe
    display: flex;
        align-items: flex-end;
    height: 100%;
    width: 100%;

    &__left {  // Display mainframe
        // flex: 1;
        display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: start;
        height: 78%;
        width: 100%;
        border-radius: $borderRadius;
        outline: $borderWidth solid black;
        outline-offset: -15px;
    }
}

.button-prev-next {
    position: absolute;
        bottom: 195px;
    display: flex;
        justify-content: space-between;
    z-index: 5;
    margin: 0 19px;
    width: 87%;
}

.button-prev-next button {
    display: flex;
        justify-content: center;
    height: 21px;
    padding: 0;
    width: 21px;
    color: #F8F8F8;
    background-color: #3B4CCA;
    border: solid 1px #3B4CCA;
    border-radius: 50%;
}

.button-prev-next svg {
    height: 19px;
}

.white-frame-wrapper {
    position: relative;
    display: flex;
        align-items: start;
        justify-content: center;
    height: 230px;
    width: 300px;
}

.white-frame,
.white-frame-shadow {
    position: absolute;
        top: 35px;
    height: 178px;
    width: 210px;
    border-radius: 8px;
}

.white-frame {
    z-index: 1;
    display: flex;
        align-items: center;
        justify-content: center;
    background: $grey;
    border: 1px solid black;
    clip-path: shape(
        from 0% 0%,
        hline to 100%,
        vline to 100%,
        hline to 10%,
        line to 0% 90%,
        vline to 0%,
        close
    );
}

.white-frame-shadow {
    z-index: 0;
    background-color: black;
    clip-path: shape(
        from 0% 0%,
        hline to 100%,
        vline to 101%,
        hline to 10%,
        line to 0% 91%,
        vline to 0%,
        close
    );
}

.screen {
    background: $screenColor;
    border-radius: 8px;
    color: white;
    
    &--left {
        display: flex;
            align-items: flex-end;
            justify-content: center;
        height: 140px;
        width: 170px;
        background-position: center;
        background-size: cover;
        border: solid 1px #00000052;
        box-shadow: 1px 1px 5px black;
    }

}

.screen-attributes {
    height: 75px;
    width: 210px;
    font-size: 14px;
    font-weight: 100;
    background: #2F2F2F;
    border-radius: 5px;
    border: ridge 1px #413f3f;
    box-shadow: 1px 1px 2px black;
    color: white;
    overflow-y: scroll;
}

.attributes { 
    display: flex;
        flex-direction: column;
        gap: 4px;
    padding: 5px;
}

.attributes p { 
    margin: 0;
    padding:0;
}

.pokemon-attribute { 
   text-transform: none;
}

.pokemon-attribute-name { 
    text-transform: capitalize;
} 

.screen-attributes::-webkit-scrollbar { 
    width: 5px;
    background-color: #ffffffc5;
}
    
.screen-attributes::-webkit-scrollbar-thumb { 
    background-color: #3B4CCA;
}

@mixin pokedex-button-inside($background) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $darkGreen;
    z-index: 1;
    border: 1px solid black;
}

@mixin pokedex-button-depth($background) {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background;
    top: 2px;
    border: 1px solid black;
}

.bottom-details-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

.dark-circle-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: relative;

    .dark-circle {
        @include pokedex-button-inside($darkGreen);
        border-radius: 100%;
    }

    &::after {
        @include pokedex-button-depth($darkPurple);
        border-radius: 100%;
    }
}

.central-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.leds-wrapper {
    display: flex;
    justify-content: space-between;
    width: 95px;

    .led {
        width: 35px;
        height: 6px;
        border: solid 1px black;
        border-radius: 3px;

        &--red {
            background: $red;
        }

        &--blue {
            background: $blue;
        }
    }
}

.green-element {
    width: 80px;
    height: 45px;
    background-color: $green;
    border: 1px solid black;
    border-radius: 4px;
}

.directional {
    width: 75px;
    height: 75px;
    position: relative;

    .horizontal-element-wrapper {
        position: absolute;
        width: 100%;
        height: 23px;
        top: 50%;
        transform: translateY(-50%);
        
        .horizontal-element {
            @include pokedex-button-inside($darkGreen);
            border-radius: 4px;
        }

        &::after {
            @include pokedex-button-depth($darkPurple);
            border-radius: 4px;
        }
    }

    .vertical-element-wrapper {
        position: absolute;
        width: 23px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        
        .vertical-element {
            @include pokedex-button-inside($darkGreen);
            border-radius: 4px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 25px;
                height: calc(23px - 2px);
                background: $darkGreen;
                transform: translate(-50%, -50%);
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                border: 1px solid black;
                transform: translate(-50%, -50%);
                border-radius: 100%;
            }
        }

        &::after {
            @include pokedex-button-depth($darkPurple);
            border-radius: 4px;
        }
    }
}

// ----- Media queries ----- //

@media only screen and (min-width: 768px) {
    .display-wrapper {

        &__right {
            display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: start;
            height: 325px;
            width: 100%;
            border-radius: $borderRadius;
            outline: $borderWidth solid black;
            outline-offset: -15px;
        }

    }

    .lid-wrapper {
        position: relative;
        display: flex;
            flex-direction: column;
            justify-content: end;
        height: 355px;
        width: 280px;

        &::after {
            content: "";
            position: absolute;
            z-index: 0;
            height: 50%;
            width: 100%;
            background: $darkRed;
            border: $borderWidth solid black;
            border-radius: 0 8px 8px 8px;
            transform: translate(0, 8px);
        }
    }

    .lid {
        z-index: 1;
        height: 295px;
        width: 100%;
        background: $red;
        border: $borderWidth solid black;
        border-radius: 0 8px 8px 8px;
    }

    .lid-top {
        position: absolute;
            left: 0;
            top: 0;
        height: $lidTopHeight;
        width: 100%;

        &__layer {
            position: absolute;
            height: 100%;
            width: 100%;

            &--1 {
                background: black;
                z-index: 1;
                clip-path: shape(
                    from 0% 0%, 
                    hline to 35%, 
                    smooth to 37% 2px, 
                    line to 55% 25px, 
                    smooth to 55% 33%, 
                    hline to 100%, 
                    vline to 100%, 
                    hline to 99%, 
                    line to 98% 50%, 
                    line to 94% 100%, 
                    line to 93% 50%, 
                    hline to 10%, 
                    line to 7% 100%, 
                    line to 4% 90%, 
                    line to 0% 100%, 
                    hline to 0%, 
                    close
                );
            }

            &--2 {
                background: $red;
                z-index: 1;
                clip-path: shape(
                    from 2px 2px, 
                    hline to 35%, 
                    smooth to 37% 6%, 
                    line to 54% 36%, 
                    smooth to 56% 36%, 
                    hline to 99.3%, 
                    vline to 100%, 
                    hline to 2px, 
                    close
                );
            }

            &--3 {
                background: black;
                z-index: 1;
                clip-path: shape(
                    from 5.3% 7%, 
                    hline to 35%, 
                    line to 55% 42%, 
                    smooth to 50% 40%, 
                    hline to 94.7%, 
                    vline to 100%, 
                    hline to 94.1%, 
                    line to 83% 61%, 
                    hline to 15%, 
                    line to 6% 100%, 
                    hline to 5.3%, 
                    close
                );
            }

            &--4 {
                background: $red;
                z-index: 1;
                clip-path: shape(
                    from 6% 10%, 
                    hline to 35%, 
                    smooth to 43% 25%, 
                    line to 54% 44%, 
                    smooth to 50% 43%, 
                    hline to 93.9%, 
                    vline to 100%, 
                    hline to 6%, 
                    close
                );
            }
        }
    }

    .right-side-divisions {
        display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
        // align-self: flex-end;
        height: 100%;
        width: 100%;

        &__bottom {
            width: 200px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__row {
            position: relative;
        }
    }

    .screen {

        &--right {
            position: relative;
            display: flex;
                align-items: center;
            z-index: 1;
            height: 140px;
            padding: 0 10px;
            width: 200px;
            color: #F8F8F8;
        }

    }

    .screen-attributes::-webkit-scrollbar { 
        display: none;
    }
    
    .blue-buttons-grid-wrapper {
        position: relative;
        height: 50px;
        
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: #00285a;
            border: 2px solid black;
            border-radius: 6px;
            transform: translateY(4px);
        }
    }

    .blue-buttons-grid {
        position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
        display: grid;
            grid-gap: 1px;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(2, auto);
        background: #00285a;
        border: 1px solid black;
        border-radius: 6px;
        overflow: hidden;

        &__button {
            background: #28aafe;
            align-items: stretch;
            justify-items: stretch;
        }
    }

    .white-buttons-grid-wrapper {
        position: relative;
        height: 25px;
        width: 30%;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: #00285a;
            border-radius: 6px;
            border: 1px solid black;
            transform: translateY(4px);
        }
    }

    .white-buttons-grid {
        position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
        display: grid;
            grid-gap: 1px;
            grid-template-rows: auto;
            grid-template-columns: repeat(2, auto);
        width: 100%;
        background-color: black;
        border: 1px solid black;
        border-radius: 6px;
        overflow: hidden;

        &__button {
            background: $grey;
            align-items: stretch;
            justify-items: stretch;
        }
    }

    .rubber-wrapper {
        display: flex;
            gap: 20px;
    }

    .rubber {
        flex: 1;
        height: 25px;
        background-color: $darkGreen;
        border: 1px solid black;
        border-radius: 4px;
    }

    .light {

        &--yellow {  
            display: block; 
            background: #ecd74f;
        }

        &__shade {
            
            &--yellow {   
                background: #a08908;
            }
        
        }

        &__regular-color {

            &--yellow {   
                background: #ecd74f;
            }

        }

        &__light {

            &--yellow {   
                background: #fff996;
            }

        }

    }

    .small-rubber-wrapper {
        position: absolute;
            bottom: -17px;
            right: 0;
        display: flex;
            gap: 3px;
        height: 8px;
        width: 70px;
    }

    .small-rubber {
        flex: 1;
        height: 100%;
        background-color: $darkGreen;
        border: solid $borderWidth black;
        border-radius: 6px;
    }

    .right-light-wrapper {
        .light {
            position: absolute;
                bottom: 0px;
                right: 0;
            height: 15px;
            width: 15px;
        } 
    }
}
