form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    padding: 0.1rem;
}
.label-options {
    display: flex;
    gap: 0.5rem;
}

.label-black {
    background-color: black;
}

.label-blue {
    background-color: rgb(6, 155, 255);
    color: black;
}

.label-brown {
    background-color: brown;
}

.label-gray {
    background-color: gray;
    color: black;
}

.label-green {
    background-color: rgb(81, 184, 50);
    color: black;
}

.label-pink {
    background-color: rgb(255, 0, 191);
}

.label-purple {
    background-color: purple;
}

.label-red {
    background-color: red;
    color: black;
}

.label-yellow {
    background-color: yellow;
    color: black;
}

.label-white {
    background-color: white;
    color: black;
}
