form {
    display: flex;
        align-items: center;
        flex-direction: column;
    margin-top: 2em;
}

.form-button {
    margin-top: 0.5em;
    padding: 5px 20px;
    font-size: 1.6em;
    border-width: 3px;
}

/* ----- Media queries ----- */

@media only screen and (min-width: 600px) {

    .form-button {
        font-size: 1.7em;
    }

}

@media only screen and (min-width: 900px) {

    .form-error-image {
        top: -80px;
        left: 680px;
    }

}

@media only screen and (min-width: 1200px) {

    .form-button {
        font-size: 2em;
    }
}
