.pokeCard {
    display: grid;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: 350px;
    border: solid 1px white;
    text-align: center;
}

img {
    width: 200px;
    max-height: 200px;
}

h1 {
    text-transform: capitalize;
    color: white;
}
