@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.pokeCard {
    display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: start;
    height: 420px;
    width: 300px;
    padding: 13px;
    border: ridge 3px #2F2F2F;
    color: black;
    background: linear-gradient(135deg, #6b6b47, #FFDE00, #332d03);
    border-radius: 5px;
    box-shadow: 
        inset 0 0 8px rgba(255, 255, 255, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.1),
        0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.7s ease, box-shadow 0.7s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow: inset 0 0 12px rgb(137 128 0), 
        inset 0 0 25px rgb(15 9 255 / 29%), 
        0 6px 15px rgb(0 0 0);
    }
}

.pokeCard-img {
    display: flex;
        align-items: center;
        justify-content: center;
    align-self: center;
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 270px;
    border: ridge 2px #2F2F2F;
    box-shadow: 1px 1px 5px black;
}

.pokemon-img {
    max-height: 260px;
    max-width: 250px;
    min-height: 240px;
    min-width: 220px;
    filter: drop-shadow(1px 1px 4px black);
}

.pokeCard-attributes {
    display: flex;
        flex-direction: column;
        gap: 5px;
    font-family: 'Play', sans-serif;
    font-weight: 400;
}

.pokeCard p {
    font-weight: 500;
    font-size: 22px;
    margin: 0 10px;
}
