.pokeCard {
    display: grid;
        align-items: center;
        justify-content: center;
    height: 400px;
    width: 350px;
    text-align: center;
    background-color: #2F2F2F;
    border: solid 2px #F8F8F8;
    color: #F8F8F8;
    box-shadow: 1px 1px 5px black;
}

.pokeCard-img {
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 270px;
    align-items: center;
    justify-content: center;
    border: solid 2px #F8F8F8;
    box-shadow: 1px 1px 20px black;
}

.pokemon-img {
    max-height: 220px;
    max-width: 250px;
}

.pokeCard p {
    text-transform: capitalize;
    font-weight: 100;
    font-size: 20px;
}
