.home-container {
    display: flex;
        align-items: center;
        flex-direction: column;
        gap: 64px;
        justify-content: start;
    height: 75vh;
}

@media only screen and (min-width: 600px) {

    .home-container {
        height: 85vh;
    }

}

@media only screen and (min-width: 768px) {

    .home-container {
        height: 80vh;
    }

}

@media only screen and (max-height: 700px) {

    .home-container {
        gap: 32px;
    }

}
