.home-container {
    display: flex;
    /* display: grid;
        grid-template-rows: 1fr 2fr; */
        align-items: center;
        flex-direction: column;
        gap: 15vh;
        justify-content: start;
        /* justify-items: center; */
    height: min-content;
}

@media only screen and (min-width: 600px) {

    .home-container {
        height: 85vh;
    }

}

@media only screen and (min-width: 768px) {

    .home-container {
        height: 80vh;
    }

}

/* @media only screen and (max-height: 700px) {

    .home-container {
        gap: 32px;
    }

} */
