.logo {
    display: flex;
        align-items: center;
        flex-direction: column;
    margin: 0;
    font-size: 26px;

    img {
        height: 150px;
    }
}

.logo-home {
    margin-top: 60px;
}

@media only screen and (min-width: 600px) {

    .logo {
        font-size: 32px;

        img {
            height: 180px;
        }
    }

    .logo-home {
        margin-top: 36px;
    }

}

@media only screen and (min-width: 768px) {

    .logo-home {
        margin-top: 16px;
    }

}

@media only screen and (min-width: 900px) {

    .logo img {
        height: 200px;
    }

}

@media only screen and (min-width: 1200px) {

    .logo-home {
        margin-top: 0;
    }

}

@media only screen and (max-height: 700px) {

    .logo {
        font-size: 30px;

        img {
            height: 150px;
        }

    }

    .logo-home {
        margin-top: 0;
    }

}
