.more-info-link {
    position: absolute;
        left: 15px;
        top: 10px;
    display: flex;
        align-items: center;
        gap: 8px;
    cursor: pointer;

    &:hover {
        font-weight: bold;
        zoom: 105%;
    }

    p {
        font-size: 12px;
        text-align: center;
    }

}

.pokebola-info {
    width: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 13px #3B4CCA;;
}

@media only screen and (min-width: 600px) {

    .more-info-link {
        gap: 16px;

        p {
            font-size: 12px;
        }
    }

    .pokebola-info {
        width: 35px;
    }

}

@media only screen and (min-width: 768px) {

    .more-info-link {
        left: 20px;
        top: 15px;
    }

}

@media only screen and (min-width: 900px) {

    .pokebola-info {
        width: 45px;
    }

    .more-info-link p {
        font-size: 15px;
    }

}
