*,
*::before,
*::after {
    box-sizing: border-box;
}

$red: #dc0a2d;
$darkRed: #89061c;
$grey: #dedede;
$darkGreen: #002e2a;
$borderRadius: 20px;
$screenColor: #232323;
$topHeight: 177px;
$pokedexWidth: 300px;
$pokedexHeight: 435px;
$borderWidth: 2px;
$leftScreenHeight: 270px;
$leftScreenWidth: 320px;
$rightScreenHeight: 180px;
$rightScreenWidth: 380px;
$lidTopHeight: 75px;

.pokedex {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: end;

    &__left,
    &__right {
        position: relative;
    }
}

.red-frame {
    background: $red;
    border: $borderWidth solid black;
    border-radius: $borderRadius;
    width: $pokedexWidth;
    height: $pokedexHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &::after {
        position: absolute;
        content: "";
        background: $darkRed;
        bottom: -20px;
        left: 0;
        right: 0;
        height: 40px;
        z-index: -1;
        border: $borderWidth solid black;
        border-radius: 0 0 $borderRadius $borderRadius;
    }
}


@mixin whiteFrameCurve() {
    clip-path: shape(
        from 0% 0%,
        hline to 100%,
        vline to 100%,
        hline to 10%,
        line to 0% 90%,
        vline to 0%,
        close
    );
}

.white-frame-wrapper {
    position: relative;
    width: 300px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.white-frame,
.white-frame-shadow {
    position: absolute;
    top: 35px;
    width: 210px;
    height: 178px;
    border-radius: 5px;
}

.white-frame {
    // position: absolute;
    // top: 85px;
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $borderWidth solid black;
    border-radius: 8px;
    // @include whiteFrameCurve();
    z-index: 1;
}

.white-frame-shadow {
    // top: 2px;
    // position: absolute;
    background-color: black;
    // @include whiteFrameCurve();
    z-index: 0;
    clip-path: shape(
        from 0% 0%,
        hline to 100%,
        vline to 101%,
        hline to 10%,
        line to 0% 91%,
        vline to 0%,
        close
    );
}

.screen {
    background: $screenColor;
    overflow: scroll;
    border-radius: 8px;
    
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    
    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
    
    &--left {
        height: 140px;
        width: 170px;
    }
}

.display-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;

    &__left {
        // flex: 1;
        height: 77%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        outline: $borderWidth solid black;
        border-radius: $borderRadius;
        outline-offset: -15px;
    }
}

// @mixin cameraWrapperCurve($heightLeft, $heightRight, $leftOffset: $borderWidth, $rightOffset: $borderWidth) {
//     clip-path: shape(
//         from calc(0% + $leftOffset) 0,
//         hline to calc(100% - $rightOffset),
//         vline to calc($heightRight),
//         hline to 65%,
//         smooth to 63% calc($heightRight + 3px), 
//         line to 47% calc($heightLeft - 3px),
//         smooth to 45% calc($heightLeft),
//         hline to calc(0% + $leftOffset),
//         close
//     );
// }

.camera-wrapper {
    position: absolute;
    height: $topHeight;
    width: 100%;
    left: 0;
    background: transparent;
    border-radius: $borderRadius $borderRadius 0 0;

    &__top-portion,
    &__border-top-curve,
    &__shadow,
    &__border-bottom-curve,
    &__outline-outside-layer,
    &__outline-inside-layer {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: $borderRadius $borderRadius 0 0;
    }

    &__border-top-curve,
    &__border-bottom-curve,
    &__outline-inside-layer {
        background-color: black;
    }

    &__top-portion,
    &__outline-outside-layer {
        background-color: $red;
    }

    &__top-portion {
        z-index: 5;
        background: $red;
        // @include cameraWrapperCurve(138px, 73px);
    }

    &__border-top-curve {
        // @include cameraWrapperCurve(140px, 75px);
        z-index: 4;
    }
    
    &__shadow {
        background-color: $darkRed;
        // @include cameraWrapperCurve(158px, 93px);
        z-index: 3;
    }
    

    &__border-bottom-curve {
        // @include cameraWrapperCurve(160px, 95px);
        z-index: 2;
    }
    
    &__outline-outside-layer {
        // @include cameraWrapperCurve(175px, 110px);
        z-index: 1;

    }

    &__outline-inside-layer {
        // @include cameraWrapperCurve(177px, 112px, 17px, 65px);
        z-index: 0;
    }

}

.camera-wrapper__top-portion {
    clip-path: shape(
        from calc(0% + 0px) 0, 
        hline to calc(100% - 0px), 
        vline to 45px, 
        hline to 81%, 
        smooth to 60% 45px, 
        line to 48% 70px, 
        smooth to 45% 75px, 
        hline to calc(0% + 0px), 
        close
    );
}

.camera-wrapper__border-top-curve {
    clip-path: shape(
        from calc(0% + 0px) 0, 
        hline to calc(100% - 0px), 
        vline to 47px, 
        hline to 65%, 
        smooth to 60% 47px, 
        line to 46% 75px, 
        smooth to 45% 77px, 
        hline to 0, 
        close
    );
}

.camera-wrapper__shadow {
    clip-path: shape(
        from calc(0% + 2px) 0, 
        hline to 100%, 
        vline to 70px, 
        hline to 65%, 
        smooth to 63% 70px, 
        line to 47% 100px, 
        smooth to 45% 100px, 
        hline to -1%, 
        close
    );
}

.camera-wrapper__border-bottom-curve {
    clip-path: shape(
        from calc(0% + 2px) 0, 
        hline to 100%, 
        vline to 72px, 
        hline to 65%, 
        smooth to 63% 72px, 
        line to 47% 102px, 
        smooth to 45% 101px, 
        hline to 0%,
        close
    );
}

.camera-wrapper__outline-outside-layer {
    clip-path: shape(
        from calc(0% + 2px) 0, 
        hline to calc(100% - 2px), 
        vline to 110px, 
        hline to 65%, 
        smooth to 63% 113px, 
        line to 47% 141px, 
        smooth to 45% 175px, 
        hline to calc(0% + 2px),
        close
    );
    display: none;
}

.camera-wrapper__outline-inside-layer {
    clip-path: shape(
        from calc(0% + 17px) 0, 
        hline to calc(100% - 65px), 
        vline to 112px, 
        hline to 65%, 
        smooth to 63% 115px, 
        line to 47% 174px, 
        smooth to 45% 177px, 
        hline to calc(0% + 17px),
        close
    );
    display: none;
}

.camera {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 6;
    left: 20px;
    top: 20px;

    &__frame,
    &__lenz,
    &__shade,
    &__regular-color,
    &__light {
        position: absolute;
        border-radius: 100%;
    }


    &__frame {
        width: 100%;
        height: 100%;
        background-color: $grey;
        border: 1px solid black;
    }

    &__lenz {
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -53%);
        background: #28abfc;
        border: 1px solid black;
        overflow: hidden;
        // animation: blink 500ms infinite;
    }



    &__shade {
        width: 95%;
        height: 95%;
        background: #19699e;
        top: 7%;
        left: 7%;
        animation: blink 800ms infinite;
    }

    &__regular-color {
        width: 50%;
        height: 50%;
        top: 11%;
        left: 11%;
        background: #28abfc;
        // animation: blink 500ms infinite;
    }

    &__light {
        width: 20%;
        height: 20%;
        background: #9fdbff;
        top: 20%;
        left: 20%;
        // animation: blink 500ms infinite;
    }

        @keyframes blink {
        // to { }
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
            background-color: #b2d9f0; 
        }
        100% {
            opacity: 1;
        }
    }
}

.lights {
    width: 80px;
    position: absolute;
    z-index: 6;
    left: 70px;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.light {
    width: 15px;
    height: 15px;
    border: black 1px solid;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    background: #519d5f;
    

    @keyframes blink {
        // to { }
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
            // background-color: #b2d9f0; 
        }
        100% {
            opacity: 1;
        }
    }

    &--red {   
        background: #ea1b3f;
    }
    
    &--yellow {   
        background: #ecd74f;
    }
    
    &--green {
        background: #519d5f;
    }

    &__shade,
    &__regular-color,
    &__light {
        border-radius: 100%;
        position: absolute;
    }

    &__shade {
        width: 95%;
        height: 95%;
        transform: translate(5%, 5%);
        animation: blink 1500ms infinite;
        
        &--red {   
            background: #a0011b;
        }
        
        &--yellow {   
            background: #a08908;
        }
        
        &--green {
            background: #2f6b3e;
        }
    }

    &__regular-color {
        width: 75%;
        height: 75%;
        left: 5%;
        top: 5%;
        
        &--red {   
            background: #ea1b3f;
        }
        
        &--yellow {   
            background: #ecd74f;
        }
        
        &--green {
            background: #519d5f;
        }
    }

    &__light {
        width: 35%;
        height: 35%;
        top: 15%;
        left: 15%;
        
        &--red {   
            background: #ffabbc;
        }
        
        &--yellow {   
            background: #fff996;
        }
        
        &--green {
            background: #b9ecbf;
        }
    }
}

// // ----- Moana -----

// .pokedex {
//     zoom: 35%;
// }

.screen--left {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 1px 1px 5px black;
    border: solid 1px #00000052;
}

// .button-prev-next {
//     position: absolute;
//     display: flex;
//     gap: 2em;
//     bottom: 13%;
//     left: 25%;
// }

.button-prev-next button {
    color: #F8F8F8;
    font-size: 2em;
    border-color: #2F2F2F;
    background-color: #3B4CCA;
    position: absolute;
    display: flex;
    font-size: 18px;
    padding: 0;
    border-width: 1px;
    width: 20px;
    align-items: center;
    justify-content: center;
}

.red-frame {
    position: relative;
}

.screen-attributes {
    font-size: 30px;
    background: #2F2F2F;
    font-weight: 100;
    width: 210px;
    height: 75px;
    border-radius: 5px;
    border: ridge 1px #413f3f;
    box-shadow: 1px 1px 2px black;
        overflow-y: scroll;
}

// .screen-attributes-1, .screen-attributes-2 {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
// }

// .pokemon-attribute {
//     text-transform: capitalize;
// }

// ::-webkit-scrollbar {
//   width: 7px;
//   background-color: #f8f8f838;
// }


// // .wrapper::-webkit-scrollbar {
// //     display: block;
// //     width: 5px;
// // }
// ::-webkit-scrollbar-track {
//     // background: #f8f8f871;
// }
    
// ::-webkit-scrollbar-thumb {
//     background-color: #FFDE00;
// }

// ::-webkit-scrollbar-track-piece:end {
//     // background: green;
//     // margin-bottom: 10px; 
// }

// ::-webkit-scrollbar-track-piece:start {
//     // background: transparent;
//     // margin-top: 10px;
// }

// .rubber {
//     color: #F8F8F8;
//     display: flex;
//     font-weight: 100;
//     font-size: 22px;
//     align-items: center;
//     justify-content: center;
// }
