.card-container {
    display: grid;
        justify-items: center;
    justify-self: center;
    margin-top: 48px;
    row-gap: 40px;
}

.results-btn {
    display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    margin-top: 3em;

    button {
        width: 190px;
        font-size: 24px;
    }
}

.btn-try-again {
    width: 190px;
    padding: 1px 6px;
    font-size: 24px;
    color: #FFDE00;
    font-family: 'Fredoka';
    background-color: #3B4CCA;
    border: 3px outset #FF0000;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

        &:hover, &:focus {
        background-color: #FF0000;
        border: 3px outset #3B4CAA;
        box-shadow: 1px 1px 14px #3B4CCA;
    }
    
}

@media only screen and (min-width: 768px) {

    .card-container {
        grid-template-columns: 350px 350px;
    }

}

@media only screen and (min-width: 1200px) {

    .card-container {
        grid-template-columns: 350px 350px 350px;
    }

}

@media only screen and (min-width: 1500px) {

    .card-container {
        grid-template-columns: 450px 450px 450px;
    }

}
