.welcome-container {
    position: relative;
    display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    padding: 16px;
    width: 250px;
    border: solid 3px #FF0000;
    box-shadow: 1px 1px 20px #2F2F2F;

    div {
        display: flex;
        flex-direction: column;
        gap: 40px;  
    }

    p {
        margin: 0;
        font-size: 14px;
        text-align: center;
    }

    img {
        position: absolute;
            bottom: -7px;
            right: -30px;
        width: 100px;
    }
    
}

.home-button {
    width: 100px;
    padding: 5px 0;
    font-size: 16px;
    color: #FFDE00;
    font-family: 'Fredoka';
    background-color: #3B4CCA;
    border: 3px outset #FF0000;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &:hover, &:focus {
        background-color: #FF0000;
        border: 3px outset #3B4CAA;
        box-shadow: 1px 1px 14px #3B4CCA;
    }
    
}

@media only screen and (min-width: 480px) {

    .welcome-container {
        width: 300px;
    }

    .home-button {
        width: 135px;
    }

}

@media only screen and (min-width: 600px) {

    .welcome-container {
        width: 450px;
        padding: 24px;

        p {
            font-size: 22px;
            text-align: start;
        }

        img {
            width: 140px;
        }

    }

    .home-button {
        width: 180px;
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 900px) {

    .welcome-container {
        width: 500px;
        padding: 40px;

        img {
            width: 170px;
        }

    }

}
