/* ----- Colors ----- */

/*  
    Fundo (quase branco): #F8F8F8
    Primária (vermelho): #FF0000
    Secundária (azul pokémon): #3B4CCA
    Destaque extra (amarelo pikachu): #FFDE00
    Texto padrão (grafite escuro): #2F2F2F
*/


@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
/* font-family: "Fredoka", sans-serif */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 3em;
    color: #2F2F2F;
    font-family: "Fredoka", sans-serif;
    background-color: #F8F8F8;
    min-height: 100vh;
    width: 90vw;
}

p {
    margin: 0;
}

button {
    color: #FFDE00;
    font-family: 'Fredoka';
    background-color: #3B4CCA;
    border: 3px outset #FF0000;
    cursor: pointer;

    &:hover, &:focus {
        background-color: #FF0000;
        border: 3px outset #3B4CAA;
        box-shadow: 1px 1px 14px #3B4CCA;
    }

}

.black-background {
    z-index: 2;
    position: fixed;
        left: 0;
        top: 0;
    display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
    height: 100vh;
    width: 100vw;
    color: white;
    font-size: 2rem;
    background-color: #000000fc;
}

@media only screen and (min-width: 600px) {

    .black-background {
        gap: 50px;
    }
    
}
