.error-container {
    position: relative;
    display: flex;
        align-items: center;
        gap: 35px;
        flex-direction: column;
    width: 320px;
    padding: 32px;
    border: solid 3px #FF0000;
    box-shadow: 1px 1px 20px #2F2F2F;

        div {
            display: flex;
            flex-direction: column;
            gap: 40px;  
        }

        p {
            font-size: 16px;
        }

        img {
             position: absolute;
                bottom: 0px;
                right: -25px;
            width: 100px;
        }
        
}

.error-button {
    width: 170px;
    padding: 5px 0;
    font-size: 16px;
    color: #FFDE00;
    font-family: 'Fredoka';
    background-color: #3B4CCA;
    border: 3px outset #FF0000;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &:hover, &:focus {
        background-color: #FF0000;
        border: 3px outset #3B4CAA;
        box-shadow: 1px 1px 14px #3B4CCA;
    }
    
}

@media only screen and (min-width: 600px) {

    .error-container {
        width: 450px;

        p {
            font-size: 23px;
        }

        img {
            right: -10px;
            width: 140px;
        }

    }

    .error-button {
        width: 180px;
        font-size: 23px;
    }

}

@media only screen and (min-width: 768px) {

    .error-container {
        gap: 64px;

        img {
            bottom: 10px;
            right: -10px;
            width: 150px;
        }

    }

}

@media only screen and (min-width: 900px) {

    .error-container {
        width: 600px;

        p {
            font-size: 30px;
        }
    }

    .error-button {
        width: 220px;
        font-size: 30px;
    }

}
